<div class="gridContainer">
    <!-- SECTION 0: INTERNAL ERROR -->
    {{#if errorMessagesInternal.length}}
        <div class="gridSection00">
            <p class="errorMessageHeader">! ERROR !</p>
            <p class="errorMessage">INTERNAL SERVER ERROR.
                <span>
                    {{#each errorMessagesInternal}}
                        {{this}}
                    {{/each}}
                </span>
            </p>
        </div>
    {{/if}}
    <!-- SECTION 1: BACKGROUND -->
    <div class="gridSection01 backgroundImage">
        <h1>Contact</h1>
        <h2>You Ask, We Answer and Help</h2>
    </div>
    <!-- SECTION 2: HEADER — LEAVE A QUESTION -->
    <div class="gridSection02">
        <h1>Ask a Question</h1>
    </div>
    <!-- SECTION 3: TEXT — LEAVE A QUESTION -->
    <div class="gridSection03">
        <p>
            There are no right or wrong questions. All the questions have their origin and are valid. FAQ (Frequently Asked Questions) is a spot where we
            resolve all inquiries, and no questions are left unanswered. If You wish to learn more about Grand Year's mission, opportunities or anything else,
            leave us a message through the form. We will be happy to assist You!
        </p>
    </div>
    <!-- SECTION 4: FORM — LEAVE A QUESTION -->
    <div class="gridSection04">
        {{#if errorMessagesExternal.length}}
            <p class="errorMessageHeader">! ERROR !</p>
            <p class="errorMessage">WE COULDN'T SHARE THE MESSAGE.
                {{#each errorMessagesExternal}}
                    <span>{{this}}</span>
                {{/each}}
            </p>
        {{/if}}
        <form action="/contact" method="post" class="formGroup">
            <div class="formPackage">
                <label class="form-label">Email</label>
                <input class="form-input" type="email" name="email" placeholder="Enter Your Email" value="{{email}}" />
                <p>Your Email will not be disclosed. We will only use it to contact You if needed.</p>
            </div>
            <div class="formPackage">
                <label class="form-label">Message</label>
                <textarea class="form-input" name="message" placeholder="Enter the Message" rows="5">{{message}}</textarea>
            </div>
            <button class="btn btnSubmit" type="submit">Submit</button>
        </form>
    </div>
    <!-- SECTION 5: FAQ — HEADER -->
    <div class="gridSection05">
        <h1>FAQ</h1>
        <h2>Frequently Asked Questions</h2>
        <p>One place where all the questions are important and answered.</p>
        {{#unless contact.length}}
            <p class="errorNoEntries">There are no FAQ entries at the moment...</p>
        {{/unless}}
    </div>
    <!-- SECTION 6: FAQ — CONTENT -->
    {{#if contact.length}}
        <div class="gridSection06">
            {{#each contact}}
                <div>
                    <h1>{{id}}</h1>
                    <h2>
                        <a href="/contact/{{id}}">
                            {{message}}
                        </a>
                    </h2>
                    <p>{{response}}</p>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>