<div class="gridContainer">
    <!-- SECTION 0: INTERNAL ERROR -->
    {{#if errorMessagesInternal.length}}
        <div class="gridSection00">
            <p class="errorMessageHeader">! ERROR !</p>
            <p class="errorMessage">INTERNAL SERVER ERROR.
                <span>
                    {{#each errorMessagesInternal}}
                        {{this}}
                    {{/each}}
                </span>
            </p>
        </div>
    {{/if}}
    {{#if contactOne}}
        <!-- SECTION 2: FAQ NUMBER -->
        <div class="gridSection02">
            <h1>{{contactOne.id}}</h1>
        </div>
        <!-- SECTION 3: FAQ QUESTION/ANSWER -->
        <div class="gridSection03">
            <div class="gridPackage03">
                <h2>QUESTION</h2>
                <p>{{contactOne.message}}</p>
            </div>
            <div class="gridPackage03">
                <h2>ANSWER</h2>
                <p>{{contactOne.response}}</p>
            </div>
            {{#if session.isLoggedIn}}
                <div class="buttonPackage">
                    <a class="buttonLink" href="/contact/edit/{{contactOne.id}}">
                        <button class="btn btnEdit">Edit</button>
                    </a>
                    <form class="formButton" action="/contact/delete/{{contactOne.id}}" method="POST">
                        <button type="submit" class="btn btnDelete">Delete</button>
                    </form>
                </div>
            {{/if}}
        </div>
    {{else}}
        <!-- SECTION 4: ENTRY NOT FOUND -->
        <div class="gridSection04">
            <h2>Ooopsie! This entry was NOT FOUND!</h2>
        </div>
    {{/if}}
</div>