<div class="gridContainer">
    <!-- SECTION 0: INTERNAL ERROR -->
    {{#if errorMessagesInternal.length}}
        <div class="gridSection00">
            <p class="errorMessageHeader">! ERROR !</p>
            <p class="errorMessage">
                {{#each errorMessagesInternal}}
                    {{this}}
                {{/each}}
            </p>
        </div>
    {{/if}}
    <!-- SECTION 1: BACKGROUND -->
    <div class="gridSection01 backgroundImage">
        <h1>Experiences</h1>
        <h2>Read Stories and Connect</h2>
    </div>
    <!-- SECTION 2: AMBASSADORS — HEADER -->
    <div class="gridSection02">
        <h1>Ambassadors</h1>
    </div>
    <!-- SECTION 3: AMBASSADORS -->
    <div class="gridSection03">
        <div>
            <img src="images/experiences/experiences-ambassador-01.png" alt="Image of the Ambassador, Wiktoria" />
            <h2>Wiktoria</h2>
            <a href="https://www.linkedin.com/in/wiktoriadrezner/"> CONNECT </a>
            <p>
                Wiktoria is the Grand Year's Master Mind that takes care of the project, its execution, resources and events. Her areas of interest are
                languages, cultures and coding. She lived in three countries, Poland, Romania and Sweden.
            </p>
        </div>
        <div>
            <img src="images/experiences/experiences-ambassador-02.png" alt="Image of the Ambassador, Artur" />
            <h2>Artur</h2>
            <a href="https://www.linkedin.com/in/wiktoriadrezner/"> CONNECT </a>
            <p>
                A traveller, book-lover and enthusiast. His life goal is to travel to as many countries as possible and see the world. He has participated in
                many Youth Exchanges and Volunteering opportunities abroad and in his home country, the UK.
            </p>
        </div>
        <div>
            <img src="images/experiences/experiences-ambassador-03.png" alt="Image of the Ambassador, Kasia" />
            <h2>Kasia</h2>
            <a href="https://www.linkedin.com/in/wiktoriadrezner/"> CONNECT </a>
            <p>
                A first-year medical student, runner and the biggest foodie. She has worked in over five companies in just three years and loves trying new
                things.
            </p>
        </div>
    </div>
    <!-- SECTION 4: INSPIRING HUMANS — HEADER -->
    <div class="gridSection04">
        <h1>Inspiring Humans</h1>
        {{#unless experiences.length}}
            <p class="errorNoEntries">There are no Inspiring Humans at the moment...</p>
        {{/unless}}
    </div>
    <!-- SECTION 5: INSPIRING HUMANS -->
    {{#if experiences.length}}
        <div class="gridSection05">
            {{#each experiences}}
                <div>
                    <h2>
                        <a href="/experiences/{{id}}">{{name}}</a>
                    </h2>
                    <a href="{{link}}"> CONNECT </a>
                    <p>{{experience}}</p>
                </div>
            {{/each}}
        </div>
    {{/if}}
    <!-- SECTION 6: INFORMATION -->
    <div class="gridSection06">
        <h2>Share Your Experience</h2>
        <p>
            You are more than welcome to share Your story with us. Feel free to connect with other Inspiring Humans by sharing Your social media accounts or
            linking your social media page. Tell us about all the inspiring things you have done and experienced.
        </p>
        <h2>Meet the Ambassadors</h2>
        <p>
            The Ambassadors are people who are part of Grand Year's actions and support our message. They have similar yet unique backgrounds and are willing to
            share their knowledge. Feel free to reach out to them, leave them a message or connect on their SM channels. They are there to listen to Your story
            and help You if needed.
        </p>
    </div>
    <!-- SECTION 7: FORM — SHARE YOUR STORY -->
    <div class="gridSectionB gridSection07">
        {{#if errorMessagesExternal.length}}
            <p class="errorMessageHeader">! ERROR !</p>
            <p class="errorMessage">WE COULDN'T SHARE THE EXPERIENCE.
                {{#each errorMessagesExternal}}
                    <span>{{this}}</span>
                {{/each}}
            </p>
        {{/if}}
        <form action="/experiences" method="post" class="formGroup">
            <div class="formPackage">
                <label class="form-label">Name</label>
                <input class="form-input" type="text" name="name" placeholder="Enter Your Name" value="{{name}}" />
            </div>
            <div class="formPackage">
                <label class="form-label">Email</label>
                <input class="form-input" type="email" name="email" placeholder="Enter Your Email" value="{{email}}" />
            </div>
            <div class="formPackage">
                <label class="form-label">Link</label>
                <input class="form-input" type="url" name="link" placeholder="Share Your Link" value="{{link}}" />
            </div>
            <div class="formPackage">
                <label class="form-label">Experience</label>
                <textarea class="form-input" name="experience" placeholder="Share Your Experience Here" rows="8">{{experience}}</textarea>
            </div>
            <button class="btn btnSubmit" type="submit">Share Your Experience</button>
        </form>
    </div>
</div>