<div class="gridContainer">
    <!-- SECTION 0: INTERNAL ERROR -->
    {{#if errorMessagesInternal}}
        <div class="gridSection00">
            <p class="errorMessageHeader">! ERROR !</p>
            <p class="errorMessage">INTERNAL SERVER ERROR.
                <span>
                    {{#each errorMessagesInternal}}
                        {{this}}
                    {{/each}}
                </span>
            </p>
        </div>
    {{/if}}
    {{#if experiencesOne}}
        <!-- SECTION 2: EXPERIENCE ENTRY -->
        <div class="gridSection02">
            <div class="gridPackage02">
                <h1>{{experiencesOne.name}}</h1>
            </div>
            <div class="gridPackage02">
                <a href="https://www.linkedin.com/in/{{experiencesOne.username}}"> CONNECT </a>
            </div>
            <div class="gridPackage02">
                <p>{{experiencesOne.experience}}</p>
            </div>
            {{#if session.isLoggedIn}}
                <div class="buttonPackage">
                    <a class="buttonLink" href="/experiences/edit/{{experiencesOne.id}}">
                        <button class="btn btnEdit">Edit</button>
                    </a>
                    <form class="formButton" action="/experiences/delete/{{experiencesOne.id}}" method="POST">
                        <button type="submit" class="btn btnDelete">Delete</button>
                    </form>
                </div>
            {{/if}}
        </div>
    {{else}}
        <!-- SECTION 3: ENTRY NOT FOUND -->
        <div class="gridSection03">
            <h2>Ooopsie! This entry was NOT FOUND!</h2>
        </div>
    {{/if}}
</div>