<div class="gridContainer">
    <!-- SECTION 0: INTERNAL ERROR -->
    {{#if errorMessagesInternal}}
        <div class="gridSection00">
            <p class="errorMessageHeader">! ERROR !</p>
            <p class="errorMessage">INTERNAL SERVER ERROR.
                <span>
                    {{#each errorMessagesInternal}}
                        {{this}}
                    {{/each}}
                </span>
            </p>
        </div>
    {{/if}}
    {{#if newsOne}}
        <!-- SECTION 2: NEWS ENTRY -->
        <div class="gridSection02">
            <h2>{{newsOne.date}}</h2>
            <h1>{{newsOne.title}}</h1>
            <p>{{newsOne.post}}</p>
            {{#if session.isLoggedIn}}
                <div class="buttonPackage">
                    <a class="buttonLink" href="/news/edit/{{newsOne.id}}">
                        <button class="btn btnEdit">Edit</button>
                    </a>
                    <form class="formButton" action="/news/delete/{{newsOne.id}}" method="POST">
                        <button class="btn btnDelete" type="submit">Delete</button>
                    </form>
                </div>
            {{/if}}
        </div>
        <!-- SECTION 2: IMAGE -->
        <div class="gridSection02Image">
            <img src="/uploads/{{newsOne.image}}" />
        </div>
    {{else}}
        <!-- SECTION 3: ENTRY NOT FOUND -->
        <div class="gridSection03">
            <h2>Ooopsie! This entry was NOT FOUND!</h2>
        </div>
    {{/if}}
</div>