<div class="gridContainer">
    <!-- SECTION 0: INTERNAL ERROR -->
    {{#if errorMessagesInternal.length}}
        <div class="gridSection00">
            <p class="errorMessageHeader">! ERROR !</p>
            <p class="errorMessage">
                {{#each errorMessagesInternal}}
                    {{this}}
                {{/each}}
            </p>
        </div>
    {{/if}}
    <!-- SECTION 1: BACKGROUND -->
    <div class="gridSection01 backgroundImage">
        <h1>Grand News</h1>
        <h2>Read and Stay on Your Toes</h2>
    </div>
    <!-- SECTION 2: HEADER -->
    <div class="gridSection02">
        <h1>Events, Tips & News</h1>
        <p class="paragraphSection02">
            Read about all the great things that we do. Here, you will find the most recent information regarding our events, activities, meetings and many
            more. Read our tips for growth, learning and getting new skills. Learn how you can make an impact. Check how we are getting involved and spread the
            Grand Message. Click on the news' title to read more.
        </p>
        {{#unless news.length}}
            <p class="errorNoEntries">There are no News at the moment...</p>
        {{/unless}}
    </div>
    <!-- SECTION 3: NEWS -->
    {{#if news.length}}
        <div class="gridSection03">
            {{#each news}}
                <div>
                    <h2>{{date}}</h2>
                    <h2>
                        <a href="/news/{{id}}">{{title}}</a>
                    </h2>
                    {{!-- <img src="{{image}}" /> --}}
                    <p>{{post}}</p>
                </div>
            {{/each}}
        </div>
    {{/if}}
    <!-- SECTION 4: FORM — SHARE NEWS -->
    {{!-- {{#if session.isLoggedIn}} --}}
    <div class="gridSection04">
        {{#if errorMessagesExternal.length}}
            <p class="errorMessageHeader">! ERROR !</p>
            <p class="errorMessage">WE COULDN'T SHARE THE NEWS.
                {{#each errorMessagesExternal}}
                    {{this}}
                {{/each}}
            </p>
        {{/if}}
        <form action="/news" method="post" class="formGroup">
            <div class="formPackage">
                <label class="form-label">Date</label>
                <input class="form-input" type="date" name="date" value="{{date}}" />
            </div>
            <div class="formPackage">
                <label class="form-label">Title</label>
                <input class="form-input" type="text" name="title" value="{{title}}" placeholder="Enter Your Title" />
            </div>
            {{! <div class="formPackage">
                <label class="form-label">Image</label>
                <input class="form-input" type="file" name="image" />
            </div> }}
            <div class="formPackage">
                <label class="form-label">Post</label>
                <textarea class="form-input" name="post" placeholder="Enter Your Post" rows="8">{{post}}</textarea>
            </div>
            <button class="btn btnSubmit" type="submit">Publish</button>
        </form>
    </div>
    {{!-- {{/if}} --}}
</div>